body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #000000;
    background-image: url(../img/index-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}

.inner-page {
    color: #000000;
    background-color: #faf7f4;
    background-image: url(../img/pattern-light.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 30px;
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #000000;
    border: none;
    cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000000;
}

.main-header {
    margin-bottom: 44px;
}

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
}

.main-header-logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 371px;
    height: 155px;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 37px;
    background-color: #000000;
}

.main-navigation-wrapper .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation a {
    display: block;
    padding: 26px 20px;
    color: #ffffff;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 620px;
}

.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 140px;
}

.user-navigation .login-link {
    position: relative;
    padding-left: 50px;
}

.user-navigation .login-link::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 15px;
    height: 15px;
    background-image: url("../img/lock.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.user-navigation .login-link:hover::before,
.user-navigation .login-link:focus::before,
.user-navigation .login-link:active::before {
    opacity: 1;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.site-navigation-current {
    position: relative;
}

.site-navigation-current a:not([href]) {
    background-color: #000000;
}

.site-navigation-current::after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    height: 5px;
    background-color: #ffffff;
}

.inner-page .main-header {
    margin-bottom: 50px;
    background-color: #000000;
}

.inner-page .main-navigation {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.inner-page .main-header-logo {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    width: 111px;
    height: 24px;
    padding: 23px 20px;
}

.inner-page .user-navigation {
    margin-left: auto;
}

.advantages {
    margin-bottom: 78px;
}

.advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantages-item {
    width: 300px;
    text-align: center;
}

.advantages-item h3 {
    position: relative;
    margin: 0;
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 42px;
}

.advantages-item h3::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    background-color: #f7f4f1;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.advantages-item p {
    margin: 0 10px;
}

.index-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 35px;
    padding: 61px 81px;
    color: #000000;
    background-color: #faf7f4;
    background-image: url("../img/line.png"), url(../img/pattern-light.jpg);
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
}

.index-columns section:first-child {
    width: 380px;
}

.index-columns section:last-child {
    width: 300px;
}

.index-columns h2 {
    margin: 0;
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 45px;
}

.news-list {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    list-style: none;
}

.news-item {
    margin-bottom: 20px;
}

.news-item p {
    margin: 0;
}

.news-item time {
    text-transform: none;
}

.gallery-container {
    position: relative;
    height: 260px;
}

.gallery-content {
    margin: 0;
    height: 164px;
    background-color: #e5e5e5;
    border: 7px solid #ffffff;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery .button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 140px;
}

.gallery .button:first-child {
    left: 0;
}

.gallery .button:last-child {
    right: 0;
}

.contacts p {
    margin: 0;
    margin-bottom: 25px;
}

.contacts-address {
    margin-bottom: 25px;
    font-style: normal;
}

.contacts-address a {
    color: #000000;
}

.appt-info {
    margin: 0;
    margin-bottom: 15px;
}

.appt-form {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

appt-form-item {
    margin: 0;
    margin-bottom: 10px;
    width: 140px;
}

.appt-form-item label {
    display: block;
    margin-bottom: 7px;
    margin-left: 17px;
}

.appt-form-item input {
    box-sizing: border-box;
    padding: 8px 15px;
    width: 140px;
    font: inherit;
    background-color: transparent;
    border: 2px solid #000000;
}




.appt-form-item input:focus {
    border-color: #663d15;
}

.appt-form .button {
    display: block;
    margin-top: 10px;
    margin-right: 0;
    width: 100%;
}

.page-title {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 53px;
    list-style: none;
}

.breadcrumbs li {
    position: relative;
    margin-right: 40px;
}

.breadcrumbs li::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -24px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.breadcrumbs a {
    color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs-current {
    margin-right: 0;
    color: #aba9a7;
}

.breadcrumbs-current::after {
    display: none;
}

.catalog-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.filter {
    width: 220px;
}

.filter fieldset {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    border: none;
}

.filter fieldset:last-of-type {
    margin-bottom: 45px;
}

.filter legend {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
}

.filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 18px;
}

.filter-option {
    margin-bottom: 15px;
    padding-left: 43px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-input-checkbox+label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -43px;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
}

.filter-input-checkbox:checked+label::after {
    content: "";
    position: absolute;
    top: 1px;
    left: -39px;
    width: 12px;
    height: 12px;
    background-image: url("../img/cross.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio+label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -43px;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    border-radius: 50%;
}

.filter-input-radio:checked+label::after {
    content: "";
    position: absolute;
    top: 3px;
    left: -37px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 50%;
}

.filter-input:hover+label,
.filter-input:focus+label {
    color: #663d15;
}

.filter-input:disabled+label {
    color: #000000;
    opacity: 0.3;
}

.catalog {
    width: 700px;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
    list-style: none;
}

.catalog-item {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 220px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.catalog-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item:hover {
    -webkit-box-shadow: 5px 0 25px rgba(0, 1, 1, 0.3);
    box-shadow: 5px 0 25px rgba(0, 1, 1, 0.3);
}

.catalog-item h3 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 15px 16px;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.catalog-category {
    display: block;
    text-transform: none;
}

.catalog-item img {
    margin: 0;
    width: 220px;
    height: 165px;
}

.catalog-item-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 16px;
    margin-top: 0;
}

.catalog-item-price b {
    padding: 13px 35px;
    width: 109px;
    line-height: 18px;
    text-align: center;
    background-color: #e5e5e5;
}

.catalog-item-price .button {
    margin-right: 0;
    padding: 10px 18px;
    width: 75px;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 18px;
}

.pagination-list li {
    margin-right: 7px;
    background-color: #000000;
}

.pagination-item:not(.current):hover,
.pagination-item:not(.current):focus,
.pagination-item:not(.current):active {
    background-color: #663d15;
}

.pagination-list a {
    display: block;
    padding: 13px 19px;
    color: #ffffff;
}

.pagination-item-current a {
    color: #000000;
    background-color: #ffffff;
}

.product-photos {
    width: 460px;
}

.product-photos img {
    -webkit-box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.product-photos .product-photo-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-photo-preview li {
    margin-right: 20px;
    width: 140px;
    height: 149px;
}

.product-photo-preview li:nth-child(3n) {
    margin-right: 0;
}

.product-photo-full {
    width: 460px;
    height: 498px;
    margin: 0;
    margin-bottom: 35px;
}

.product-article {
    text-align: right;
    color: #aeaeae;
}

.product-description .product-text {
    margin-bottom: 38px;
}

.product-price b {
    padding: 10px 37px;
    width: 114px;
    text-align: center;
    background-color: #e5e5e5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.product-price .button {
    padding: 10px 19px;
}

.product-description {
    margin-top: 21px;
    width: 390px;
}

.product-description p {
    margin: 0;
}

.product-description h3 {
    margin: 0;
    margin-bottom: 27px;
    font-size: 24px;
    line-height: 30px;
}

.product-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 27px;
    padding-right: 10px;
}

.product-info p {
    width: 190px;
}

.product-description .product-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 65px;
}

.product-set-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-set-list li {
    position: relative;
    padding-left: 23px;
}

.product-set-list li::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 2px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.inner-content {
    margin-bottom: 75px;
}

.inner-content h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
}

.inner-content h3 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
}

.inner-content h2+h3 {
    margin-top: 30px;
}

.inner-content p {
    margin: 14px 0;
}

.inner-content table {
    border-collapse: collapse;
}

.inner-content td {
    padding: 10px 17px;
    border: 2px solid #000000;
}

.inner-content .big-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 65px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

.big-heading::before,
.big-heading::after {
    content: "";
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 50px;
    height: 2px;
    background-color: #000000;
}

.big-heading::before {
    margin-right: 25px;
}

.big-heading::after {
    margin-left: 25px;
}

.custom-list-1 {
    margin: 14px 0;
    padding: 0;
    list-style: none;
}

.custom-list-1 li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 20px;
}

.custom-list-1 li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #000000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-table-1 {
    width: 100%;
}

.custom-table-1 td {
    width: 50%;
}

.custom-table-1 td:last-child {
    text-align: center;
}

.inner-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 37px 0;
}

.inner-column-left,
.inner-column-right {
    width: 460px;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
    margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
    margin-bottom: 0;
}

.inner-columns>h2:first-child {
    width: 460px;
    margin-top: 0;
    margin-right: 460px;
    margin-right: calc(100% - 460px);
}

.short-text {
    padding-right: 80px;
}


/* Подвал сайта */

.main-footer {
    margin-top: 65px;
    padding: 60px 0;
    color: #ffffff;
    background-color: #212121;
    background-image: url(../img/pattern-dark.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.inner-page .main-footer {
    margin-top: 50px;
}

.main-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-address {
    margin-right: 60px;
    width: 320px;
    font-style: normal;
}

.footer-address a {
    color: #ffffff;
}

.footer-address a:first-of-type {
    text-decoration: underline;
}

.footer-address a:first-of-type:hover,
.footer-address a:first-of-type:focus {
    text-decoration: none;
}

.footer-social {
    width: 180px;
    text-align: center;
}

.footer-social b {
    display: block;
    margin-bottom: 15px;
}

.footer-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    width: 141px;
    list-style: none;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 43px;
    height: 43px;
    background-color: #000000;
}

.social-button:hover,
.social-button:focus {
    background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
    fill: #000000;
}

.footer-copyright {
    margin-left: auto;
    width: 145px;
    text-align: center;
}

.footer-copyright b {
    display: block;
    margin-bottom: 15px;
}

.footer-copyright .button {
    display: block;
    margin-right: 0;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;
    background-color: #ffffff;
}


/* Простенькие, но прикольные CSS-анимации. Bounce нужно применить к modal-show, чтобы форма выпрыгивала, а shake должен появлятся если логин или пароль не введены */
@keyframes bounce {
    0% {
        transform: translate(-50%, -2000px);
    }
    70% {
        transform: translate(-50%, -150px);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}
