.modal {
    /* Прячем всплывающее окно! */
    /* display: none; */

    position: fixed;
    left: 50%;
    translate: -50%;
    color: #000000;
    background-color: #faf7f4;
    background-image: url(../img/pattern-light.jpg);
    background-position: 0 0;
    background-repeat: repeat;

    transition: 0.5s;
}

.modal h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}

.modal-description {
    margin: 0;
    margin-bottom: 10px;
}

.modal-login {
    top: 120px;
    
    /* Заверстайте всплывающее окно логина самостоятельно! */
}

.modal-map {
    top: 25%;
    width: 780px;
    height: 574px;
    border: 7px solid white;
}

.modal-map iframe {
    position: relative;
    z-index: 2;
    border: none;
}

.modal-map img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
}

.modal-close {
    position: absolute;
    top: 0;
    right: -33px;
    width: 19px;
    height: 19px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 19px;
    height: 3px;
    background-color: #d0d0d0;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-show {
    
}
.modal-login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-shadow: 24px;
    padding: 2% 3%;
    color: #000000;
    display: none;
}

.knopka {
     display: flex;
     margin: auto;
     margin-top: 4% ;
     margin-bottom: 4% ;
     width: 300px;
     height: 43px; 
     font-size: 25px;
}

.ocho {
   
}

.modal-error {
    
}

.karta-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}